.category-icons {
  max-height: 30px;
}
/* .icon-borders {
  border: solid lightgray 1;
} */
.btn-secondary {
  background-color: white !important;
  color: black;
}
ul {
  list-style-type: none;
  padding-inline-start: 0;
}

button {
  margin: 10px;
  margin-right: auto;
  margin-left: auto;
}

.categoryName {
  font-weight: bold;
}
.categoryName:hover {
  color: grey;
}

/* .margin {
  margin-bottom: 40px;
} */

.item-logo {
  max-height: 35px;
}

img {
  padding-top: 10px;
}

p {
  padding-top: 10px;
}
.boxes {
  border: 1px solid #d6d6d6;
  border-radius: 3px;
  background-color: white;
  -moz-box-shadow: 1px 0px 6px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 1px 0px 6px rgba(0, 0, 0, 0.1);
  box-shadow: 1px 0px 6px rgba(0, 0, 0, 0.1);
}
