.list {
  /* padding: 10px; */
}

.list img {
  width: 40px;
  height: 50px;
  object-fit: contain;
  padding: 0;
  margin: 10px 0;
}
.cards {
  margin-bottom: 10px;
}
.leftside {
  display: flex;
  justify-content: flex-start;
  text-align: left;
  align-items: center;
}

.rightside {
  display: flex;
  justify-content: flex-end;
  text-align: right;
  align-items: center;
}

.rightside h2 {
  margin: 0;
}

.description {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: end;
  margin: 0 20px;
}

.description p {
  margin: 0;
  padding-top: 0;
}

.recently-added {
  font-weight: 500;
}
.time-detail {
  font-size: 22px;
}
.big-list {
  margin-bottom: 80px;
}
