.App {
  /* text-align: center; */
  /* background-color: #f6f7f9; */
}

.category-icons {
  max-height: 30px;
}

/*** General Elements ***/

.general-layout {
  margin: auto 10%;
  border: 1px solid #cacaca;
}

.logo {
  width: 80px;
  margin: 16px;
  padding: 0px;
}

.auth-entry {
  margin: 40px 0px;
}

/*** Typographic Elements ***/

h2 {
  font-weight: 800;
}

h4 {
  font-weight: 700;
}

.bold-text {
  font-weight: 500;
}

.description {
  text-align: justify;
}

.small-text {
  font-size: 14px;
  color: #666666;
}

/*** Form Elements ***/
label {
  display: flex;
  color: #333333;
  font-size: 14px;
  margin-bottom: 0.25rem;
}

input {
  border: 1px solid #c2c5c4;
  width: 100%;
  padding: 4px;
  margin-bottom: 0.5rem;
}

.form-contain {
  text-align: center;
  width: 370px;
  padding: 1.5rem;
  padding-bottom: 0.5rem;
}

/*** Interactive Elements ***/

.text-link {
  font-size: 14px;
  font-weight: bold;
  color: #3d90de;
  text-decoration: none;
}

.primary-btn {
  color: white;
  font-size: 16px;
  font-weight: 800;
  background-image: linear-gradient(to bottom right, #3d90de, #7ae0eb);
  width: 220px;
  height: 50px;
  border: none;
  margin: 1rem;
  border-radius: 3px;
}

.col-sm-6 {
  width: 50% !important;
}

/*** Bottom Navbar ***/

nav {
  position: fixed;
  bottom: 0;
  display: flex;
  padding: 10px 0px;
  justify-content: space-evenly;
  background-color: white;
}

.icon {
  height: 30px;
  padding-top: 0px;
}

.App nav a.active {
  color: #b447e7;
  font-size: 20px;
  font-weight: bold;
  text-decoration: none;
}

.boxshadow {
  position: fixed;
  -moz-box-shadow: 1px 0px 12px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 1px 0px 12px rgba(0, 0, 0, 0.1);
  box-shadow: 1px 0px 12px rgba(0, 0, 0, 0.1);
  /* padding: 10px; */
  /* background: white; */
}

.tab-nav {
  width: 90%;
  display: flex;
  justify-content: space-evenly;
  /* background-color: red; */
}

/*** Mission Pages ***/

.charity-logo {
  margin: 30px;
  width: 300px;
}

.mission-name {
  margin: 30px 0px;
}
